html, body {
    height: 100%;
}
body {
    margin: 0;
    font: 400 100%/120% 'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #505143;
}

.container {
    padding: 30px 0;
    text-align: center;
}

.display-box {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item {
    
}
.chart {
    width: 700px;
    height: 500px;
}

.active {
    border: 1px solid green;
    border-radius: 50%;
}

.price {
    display: inline-block;
    vertical-align: bottom;
    color: #4066B3;
    font-size: 1.5em;
}
.price div {
    display: inline-block;
    vertical-align: baseline;
    min-width: 55px;
    text-align: right;
}
.price span {
    display: inline-block;
    vertical-align: baseline;
    font-size: 14px;
}
.price1 {
    vertical-align: middle;
}

.item1 {
    margin: 30px 0;
}

.title {
    display: inline-block;
    vertical-align: baseline;
    padding: 0;
    margin: 0;
}
.logo-zurich {
    display: inline-block;
    vertical-align: middle;
    width: 30%;
    margin: 0 0 0 15px;
}

.query {
    margin: 0 0 0 130px;
}

h1 {
    padding: 0 0 45px 0;
}

select {
    font-size: 14px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #eee;
    shape-rendering: crispEdges;

    stroke: transparent;
}

.axis text {
    font-size: 11px;
    fill: #ccc;

    fill: transparent;
}

.legend {
    color: #ccc;
    padding: 15px 0 0 0;
    text-align: center;
}