html, body {
    height: 100%;
}
body {
    margin: 0;
    font: 400 100%/120% 'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #505143;
}

.container {
    padding: 30px 0;
    text-align: center;
}

.display-box {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item {
    
}

.query {
    margin: 0 0 0 130px;
}

h1 {
    padding: 0 0 45px 0;
}

select {
    font-size: 14px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #eee;
    shape-rendering: crispEdges;

    stroke: transparent;
}

.axis text {
    font-size: 11px;
    fill: #ccc;

    fill: transparent
}

.legend {
    color: #ccc;
    padding: 15px 0 0 0;
    text-align: center;
}